<p>こんにちは <%= @resource.name %>さん！</p>

<p>パスワードの再設定は、以下のリンクから行ってください。</p>

<p><%= link_to 'パスワード再設定', "https://cigar-post.com/users/password/edit?reset_password_token=#{@token}" %></p>

<p>このメールに心当たりの無い方は、このメールの破棄をお願いいたします。</p>
<p>上記のリンクにアクセスし、新しいパスワードを設定しない限り、パスワードは変更されません。</p>

<p>CigarPost</p>
<%= link_to 'https://cigar-post.com/', 'https://cigar-post.com/' %>
