<p>こんにちは <%= @resource.name %>さん！</p>

<p>パスワードの再設定は、以下のリンクから行ってください。</p>

<p><%= link_to 'パスワード再設定', edit_password_path(@resource, reset_password_token: @token) %></p>

<p>このメールに心当たりがない場合は、無視していただいて構いません。</p>
<p>上記のリンクにアクセスし、新しいパスワードを設定しない限り、パスワードは変更されません。</p>

<p>CigarPostより</p>
