<% provide(:title, '投稿一覧') %>
<div class="container">
  <div class="row">
    <div class="col-md-10 mx-auto mt-2">
      <div class="d-flex justify-content-start heading-search mb-2">
        <h4 class="mr-5 my-auto heading">投稿一覧</h4>
        <% if user_signed_in? %>
          <div class="search-container d-flex justify-content-start">
            <%= render 'public/posts/post_search' %>
            <%= render 'public/posts/post_sort_search' %>
          </div>
        <% end %>
      </div>

      <% if @posts.empty? %>
        <p class="mt-4 text-muted no-contents">該当する投稿はありません</p>
      <% else %>
        <div class="col-12 post-index-container mt-2">
          <%= render 'public/posts/index', posts: @posts, post_comments: @post_comments %>
        </div>
      <% end %>

      <div class="paginate mt-3">
        <%= paginate @posts %>
      </div>
    </div>
  </div>
</div>