<table class="table table-sm table-borderless">
  <tbody>
    <% @information.each do |info| %>
    <tr>
      <td><i class="fas fa-info-circle"></i></td>
      <td><%= info.created_at.to_s(:datetime_jp) %></td>
      <td><%= link_to info.title, information_path(info) %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<div class="d-flex justify-content-end">
  <%= link_to ' お知らせ一覧', information_index_path, class: 'small fas fa-angle-right' %>
</div>