<table class="table table-sm table-borderless">
  <thead>
    <tr>
      <td>日付</td>
      <td>タイトル</td>
    </tr>
    <tr>
      <td>日付</td>
      <td>タイトル</td>
    </tr>
    <tr>
      <td>日付</td>
      <td>タイトル</td>
    </tr>
  </thead>
</table>

<div class="d-flex justify-content-end">
  <%= link_to '>> お知らせ一覧', information_index_path %>
</div>