<table class="table">
  <thead>
    <tr>
      <th>投稿者</th>
      <th>カテゴリ</th>
      <th>本文</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>ユーザー名</td>
      <td></td>
      <td>内容</td>
    </tr>
    <tr>
      <td>ユーザー名</td>
      <td></td>
      <td>内容</td>
    </tr>
    <tr>
      <td>ユーザー名</td>
      <td></td>
      <td>内容</td>
    </tr>
  </tbody>
</table>

<div class="d-flex justify-content-end">
  <%= link_to '>> 投稿一覧', posts_path %>
</div>