<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>投稿者</th>
      <th>カテゴリ</th>
      <th>本文</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="text-center">1</td>
      <td>ユーザー名</td>
      <td></td>
      <td>内容</td>
    </tr>
    <tr>
      <td>2</td>
      <td>ユーザー名</td>
      <td></td>
      <td>内容</td>
    </tr>
    <tr>
      <td>3</td>
      <td>ユーザー名</td>
      <td></td>
      <td>内容</td>
    </tr>
  </tbody>
</table>