<% provide(:title, 'CigarPostとは？') %>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-5 about effect-fade-fast">
      <div class="about-info">
        <h2 class="ml-3 effect-fade">
          言葉を選んだ本音で<br>
          つながる。
        </h2>
      </div>
    </div>

    <div class="col-md-7">
      <div class="col-md-11 mx-auto mt-5 effect-fade effect-fade-second">
        <h4 class="mb-4"><span class="highlight">CigarPostとは</span></h4>
        <p>
          ユーザーが日常で感じた何気ない想いを<br>
          川柳・短歌・自由律俳句にして投稿するジャパニーズポエム SNS です。
        </p>
        <p>
          川柳・短歌・自由律俳句って、どれも難しそう...と躊躇せずに<br>
          おしゃれな嗜好品感覚で気軽に想いを投稿してほしい。<br>
          そんな願いを込めて、 CigarPost と名付けました。
        </p>
      </div>
    </div>
  </div>
</div>