<% provide(:title, 'ページが見つかりませんでした') %>
<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto">

      <div class="mt-2 mb-5">
        <h4 class="title highlight">ページが見つかりませんでした</h4>

        <p class="text-center py-3">お探しのページは存在しません。</p>
      </div>

    </div>
  </div>
</div>