<% if params[:user_id].present? %>
  <% provide(:title, "#{@user.name}さんのコメント一覧") %>
<% else %>
  <% provide(:title, 'コメント一覧') %>
<% end %>
<div class="container">
  <div class="row">
    <div class="col-md-10 mx-auto mt-2">
      <% if params[:user_id].present? %>
        <h3 class="mr-5 my-auto"><%= @user.name %>さんのコメント一覧</h3>
      <% else %>
      <div class="d-flex justify-content-start heading-search mb-2">
        <h3 class="mr-5 pb-1 my-auto">コメント一覧</h3>
        <div class="d-flex justify-content-start search-container">
          <%= render 'admin/post_comments/admin_comment_search' %>
        </div>
      </div>
      <% end %>

      <% if @post_comments.empty? %>
        <p class="mt-4 text-muted no-contents">該当する投稿はありません</p>
      <% else %>
        <div class="table-responsive-md">
          <%= render 'admin/post_comments/index', post_comments: @post_comments %>
        </div>
      <% end %>

      <div class="paginate">
        <%= paginate @post_comments %>
      </div>

    </div>
  </div>
</div>