/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';

$info: #17a2b8;

header {
  background-color: #fff;
}

body {
  padding-top: 65px;
}

a {
  text-decoration: underline;
  color: #212529;
}

.nav-item>a::before,
.nav-item>a>i::before {
  color: $info;
}

thead {
  text-align: center;
}

.welcome {
  background-image: image-url("top.jpg");
  background-position: center;
  background-size: cover;
}

.whats_cp {
  font-size: 20px;
  text-decoration: underline;
  color: #212529;
}

.welcome-info,
.about-info {
  padding: 190px 0;
  .btn {
    width: 200px;
  }
}

.about {
  @extend .welcome;
  background-image: image-url("about.jpg");
  height: 600px;
}

.highlight {
    background: linear-gradient(transparent 90%, #17a2b8 0%);
    line-height: 1.3em;
}

div {
  &.field, &.actions {
    margin-bottom: 15px;
  }
  &.actions, &.paginate {
    display: flex;
    justify-content: center;
    .btn {
      padding-right: 50px;
      padding-left: 50px;
    }
  }
}

.title {
  text-align: center;
}

#error_explanation {
  ul {
    margin-bottom: 0;
  }
}

.field_with_errors {
  display: contents;
  input,
  textarea {
    @extend .is-invalid;
  }
}

.nav-item {
  margin-left: 20px;
}

.need-item {
  color: red;
}

.admin_session > a {
  color: #6c757d;
}

a.dropdown-toggle,
a.dropdown-toggle:hover {
  text-decoration: none;
  color: #343a40 !important;
}

a.nav-link,
a.btn,
a.navbar-brand,
a.dropdown-item,
a.plain-link {
  text-decoration: none;
}

.pagination {
  .active>a {
    border-radius: 15px;
    text-decoration: none;
    color: #212529;
    background: $info !important;
  }
  li>a {
    text-decoration: none;
    border: none;
    color: #212529;
    &:hover {
      border-radius: 15px;
      color: #212529;
      background: #E6F6F8;
    }
  }
}

.search-btn {
  @extend .btn !optional;
  font-family: FontAwesome;
  background-color: transparent;
  border: 1px solid transparent;
  color: $info;
  &:focus {
    @extend .btn:focus !optional;
    box-shadow: none;
    color: #46CAB8;
  }
}

.form-container {
  padding: 2px;
  padding-left: 5px;
  border-radius: 19px;
  border: 1px solid #212529;
}

.circle-form {
  @extend .form-control !optional;
  background-color: transparent;
  border: 1px solid transparent;
  &:focus {
    @extend .form-control, :focus !optional;
    box-shadow: none;
    background-color: transparent;
    border: 1px solid transparent;
  }
}

select#sort {
  height: 44px;
}

.effect-fade-fast {
  opacity: 0;
  transition: all 1s;
}

.effect-fade {
  opacity: 0;
  transition: all 3s;
}

.done {
  opacity: 1;
  transform: translate(0, 0);
}

@media screen and (max-width:768px) {
  .main {
    margin-top: 10px;
  }
  .no-contents {
    height: 200px;
  }
  .sidebar {
    margin-top: 30px;
  }
  .heading-search,
  .search-container {
    display: block !important;
    .sort-search {
      display: flex;
      justify-content: flex-end;
      margin: 10px 0 !important;
    }
  }
  .heading {
    padding-bottom: 10px;
  }
  .effect-fade-second {
    opacity: 1 !important;
    transform: translate(0, 0);
  }
}