<div class="form-container">
  <%= form_with url: users_path, method: :get, local: true do |f| %>
    <div class="input-group-append">
      <%= f.text_field :word, placeholder: 'ユーザーをさがす', class: 'circle-form' %>
      <%= f.submit "\uF002", class: 'search-btn' %>
    </div>
  <% end %>
</div>