<div class="container">
  <div class="row mt-2">
    <div class="col-md-7 order-md-2 mx-auto">
      <h4><%= @user.name %>さんのフォロー</h4>
      <% if @user.following.count == 0 %>
        <p class="mt-4 text-muted">フォローしているユーザーはいません</p>
      <% else %>
        <div class="col-12 main-contents">
          <%= render 'public/users/index', users: @users %>
        </div>
      <% end %>

      <div class="paginate mt-3">
        <%= paginate @users %>
      </div>
    </div>

    <div class="col-md-4 order-md-1 sidebar">
      <%= render 'public/users/info', user: @user %>
    </div>
  </div>
</div>