<div class="container">
  <div class="row">
    <div class="col-md-10 mx-auto mt-2">
      <div class="d-flex justify-content-start mb-3">
        <h4 class="mr-5 my-auto">ユーザー一覧</h4>
        <%= render 'layouts/user_search' %>
      </div>

      <% if params[:name].present? %>
        <p>キーワード：<%= @name %></p>
      <% end %>
      <% if @users.empty? %>
        <p class="mt-4 text-muted">該当するユーザーはいません</p>
      <% else %>
        <div class="main-contents px-3">
          <%= render 'public/users/index', users: @users %>
        </div>
      <% end %>

      <div class="paginate">
        <%= paginate @users %>
      </div>

    </div>
  </div>
</div>