<div class="container">
  <div class="row">
    <div class="col-md-10 mx-auto mt-2">
      <h4 class="pb-2">ユーザー一覧</h4>

      <%= render 'public/users/index', users: @users %>

      <div class="paginate">
        <%= paginate @users %>
      </div>

    </div>
  </div>
</div>