<% provide(:title, 'ユーザー') %>
<div class="container">
  <div class="row">
    <div class="col-md-10 mx-auto mt-2">
      <div class="d-flex justify-content-start heading-search mb-3">
        <h4 class="mr-5 my-auto heading">ユーザー一覧</h4>
        <div class="d-flex justify-content-start search-container">
          <%= render 'public/users/user_search' %>
          <%= render 'public/users/user_sort_search' %>
        </div>
      </div>

      <% if @users.empty? %>
        <p class="mt-4 text-muted no-contents">該当するユーザーはいません</p>
      <% else %>
        <div class="main-contents px-3 mt-3">
          <%= render 'public/users/index', users: @users %>
        </div>
      <% end %>

      <div class="paginate mt-3">
        <%= paginate @users %>
      </div>

    </div>
  </div>
</div>