<div class="container">
  <div class="row mt-2">
    <div class="col-md-4">
      <%= render 'public/users/info', user: @user %>
    </div>

    <div class="col-md-7 offset-md-1">
      <h4><%= @user.name %>さんの投稿</h4>
      <% if @user.posts.count == 0 %>
        <p class="mt-4 text-muted">まだ投稿はありません</p>
      <% else %>
        <div class="col-12 post-container rounded">
          <%= render 'public/posts/index', posts: @posts %>
        </div>
      <% end %>

      <div class="paginate mt-3">
        <%= paginate @posts %>
      </div>
    </div>
  </div>
</div>