<div class="form-container">
  <%= form_with url: admin_posts_path, method: :get, local: true do |f| %>
    <div class="input-group-append">
      <%= f.text_field :body, placeholder: '投稿内容', class: 'circle-form' %>
      <%= f.select :category, Post.categories.keys.map{|k| [I18n.t("enums.post.category.#{k}"), I18n.t("enums.post.category.#{k}")]},
          {prompt:'カテゴリ', selected: params[:category]} %>
      <%= f.submit "\uF002", class: 'search-btn' %>
    </div>
  <% end %>
</div>