<li class="nav-item">
  <%= link_to '新規登録', new_user_registration_path, class: 'nav-link btn btn-outline-dark text-dark' %>
</li>
<li class="nav-item">
  <%= link_to 'ログイン', new_user_session_path, class: 'nav-link text-dark' %>
</li>