<li class="nav-item">
  <%= link_to '新規登録', new_user_registration_path, class: 'nav-link text-dark fas fa-user-plus' %>
</li>
<li class="nav-item">
  <%= link_to 'ログイン', new_user_session_path, class: 'nav-link text-dark fas fa-sign-in-alt' %>
</li>