<li class="nav-item">
  <%= link_to '新規投稿', root_path, class: 'nav-link text-dark' %>
</li>
<li class="nav-item">
  <%= link_to '検索', root_path, class: 'nav-link text-dark' %>
</li>
<li class="nav-item">
  <%= link_to '通知', root_path, class: 'nav-link text-dark' %>
</li>
<li class="nav-item">
  <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'nav-link text-dark' %>
</li>